@-webkit-keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.global-planets-div h1 {
  text-align: center;
  color: aqua;
  -webkit-animation: titleAnimation 3s infinite;
          animation: titleAnimation 3s infinite;
  width: 95%;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.navigation-links a {
  color: red;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(217, 217, 73);
  border: 1px solid black;
  border-radius: 15px;
}

.planets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(217, 217, 73);
  padding: 50px;
  border-radius: 15px;
}
.planets img {
  width: 220px;
  height: 270px;
  border-radius: 10px;
}
.planets .planet {
  padding: 20px;
}

.hover-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 370px;
  width: 220px;
  height: 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hover-info span {
  padding: 8px;
}

.planet-name-hover {
  color: blue;
}

.planet-name {
  background-color: #fff;
  position: absolute;
  width: 220px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}

.planet-more-info-container span {
  color: rgb(217, 217, 73);
  padding: 10px;
}
.planet-more-info-container img {
  width: 220px;
  height: 270px;
}
.planet-more-info-container .planet-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.planet-more-info-container .planet-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.planet-more-info-container h3 {
  color: blue;
  -webkit-animation: titleAnimation 3s infinite;
          animation: titleAnimation 3s infinite;
  text-align: center;
}
.planet-more-info-container p {
  color: aquamarine;
}