@import "../../stylesVariables/variables.scss";


.global-planets-div {
  h1 {
    text-align: $center;
    color: aqua;
    animation: titleAnimation 3s infinite;
    
  }
}
.navigation-links {
  display: $display;
  justify-content: end;
  a {
    color: red;
    padding: $fifthenPix;
    cursor: $cursor;
    background-color: $yellowColor;
    border: 1px solid black;
    border-radius: $fifthenPix;
  }
}
.planets {
  display: $display;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: $center;
  justify-content: $center;

  padding: 50px;
  border-radius: 15px;

  img {
    width: $personImgWidth;
    height: $personImgHeight;
    border-radius: 10px;
  }
  .planet {
    padding: 20px;
  }
}

.hover-info {
  display: $display;
  flex-direction: column;
  background-color: $white;
  border-radius: $fifthenPix;
  top: 370px;
  width: $personImgWidth;
  height: $personImgHeight / 2;
  align-items: $center;

  span {
    padding: 8px;
   
  }
}

.planet-name-hover {
  color: blue;
}
.planet-name {
  background-color: $white;
  position: absolute;
  width: $personImgWidth;
  height: 50px;
  text-align: $center;
  border-radius: 10px;
}

.planet-more-info-container {
  span {
    color: $yellowColor;
    padding: 10px;
  }

  img {
    width: $personImgWidth;
    height: $personImgHeight;
  }

  .planet-info-container {
    display: $display;
    justify-content: space-evenly;
  }

  .planet-info {
    display: $display;
    flex-direction: column;
    padding: 10px;
    justify-content: $center;
  }
  h3 {
  
    animation: titleAnimation 3s infinite;
    text-align: $center;
  }
  p {
    color: aquamarine;
  }
}

.navigation-links {
  display: $display;
  
  padding-right: 25px;
 @media screen and (max-width: 900px){
  justify-content: center;
  padding: 0;

 }
  
}
