$yellowColor: rgb(217, 217, 73);
$cursor: pointer;
$personImgWidth: 220px;
$personImgHeight: 270px;
$display: flex;
$center: center;
$fontSize: 20px;
$positon: absolute;
$fifthenPix: 15px;
$white: #fff;
$aqua: aqua;

@keyframes titleAnimation {
  0% {
    color: white;
    transform: scale(1);
  }
  50% {
    color: aquamarine;
    transform: solid(1.1);
  }
  100% {
    color: white;
    transform: scale(1);
  }
}
