.characters-1 {
  background-color: rgb(217, 217, 73);
  margin-top: 50px;
  border-radius: 5px;
}
.characters-1 img {
  width: 220px;
  height: 270px;
  border-radius: 15px;
  padding-top: 15px;
}

.character {
  padding: 15px;
  border-radius: 15px;
}

.first-part-global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
}
.first-part-global-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 220px;
  height: 50px;
  border-radius: 10px;
}

.persons-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 11px;
  width: 220px;
}

.persons-global-container .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.persons-global-container a {
  color: red;
  padding: 15px;
  cursor: pointer;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 15px;
}