@import "../../stylesVariables/variables.scss";

.characters-1 {
   background-color: $yellowColor;
   margin-top: 50px;
   border-radius: 5px;
  img {
    width: $personImgWidth;
    height: $personImgHeight;
    border-radius: 15px;
    padding-top: 15px;
  }
  
  }
  .character {
    padding: 15px;
    border-radius: 15px;
    
  }




.first-part-global-container {
  display: $display;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 20px;

  span {
    display: $display;
    align-items: $center;
    justify-content: $center;
    background-color: #fff;
    width: 220px;
    height: 50px;
    border-radius: 10px;
  }
}

.persons-info-container{
  display: $display;
  background-color: white;
  flex-direction: column;
  border: 2px solid black;
  align-items: $center;
 margin-left: 11px;
  width: 220px;


  
}
.persons-global-container {
  .navigation-links{
    display: flex;
    justify-content: end;
  }
  
   a{
    color: red;
    padding: 15px;
    cursor: $cursor;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 15px;
  
   }
}