@import '../../stylesVariables/variables.scss';

.characters-1{
    
    img{
        width: $personImgWidth;
        height: $personImgHeight;
        color: white;
    }
    .character{
        padding: 15px;
    }
}

.first-part-global-container{
 display: $display;
 width: 90%;
 flex-wrap: wrap;
 justify-content: flex-end;
 margin-left: 20px;

 span{
     display: $display;
     align-items: $center;
     justify-content: $center;
     background-color: #fff;
     width: 220px;
     height: 50px;
   
 }
}