@import "../../stylesVariables/variables.scss";


.global-characters-div{
    margin-top: 180px;
   min-height: 500px;
}
.characters-1 {
  margin-top: 50px;
  border-radius: 5px;
  img {
    width: $personImgWidth;
    height: $personImgHeight;
    border-radius: $fifthenPix;
    padding-top: $fifthenPix;
  }
}
.character {
  padding: $fifthenPix;
  border-radius:$fifthenPix;
}

.first-part-global-container {
  display: $display;
  width: 91%;
  flex-wrap: wrap;
  justify-content: end;
  @media screen and (max-width: 900px){
    justify-content: center;
    width: 100%;
  }

 
  padding: $fifthenPix;
  border-radius: $fifthenPix;

  span {
    display: $display;
    align-items: $center;
    justify-content: $center;
    background-color: #fff;
    width: 220px;
    height: 50px;
    border-radius: 10px;
  }
}

.persons-info-container {
  text-align: $center;
  background-color: #fff;
  margin-left: 10px;
  padding: $fifthenPix;
  border-radius: 10px;
  width: 200px;
}
.persons-global-container {
  h1 {
    text-align: $center;
   

    animation: titleAnimation 3s infinite;
  }
  .navigation-links-characters {
    display: $display;
    justify-content: end;
    align-items: center;
    @media screen and (max-width: 900px){
      justify-content: center;
     
    } 
}
}
