@-webkit-keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.test-abso {
  position: absolute;
  left: 50px;
}

.global-characters-div {
  margin-top: 180px;
  min-height: 500px;
}

.characters-1 {
  margin-top: 50px;
  border-radius: 5px;
}
.characters-1 img {
  width: 220px;
  height: 270px;
  border-radius: 15px;
  padding-top: 15px;
}

.character {
  padding: 15px;
  border-radius: 15px;
}

.first-part-global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 15px;
  border-radius: 15px;
}
@media screen and (max-width: 900px) {
  .first-part-global-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.first-part-global-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 220px;
  height: 50px;
  border-radius: 10px;
}

.persons-info-container {
  text-align: center;
  background-color: #fff;
  margin-left: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.persons-global-container h1 {
  text-align: center;
  -webkit-animation: titleAnimation 3s infinite;
          animation: titleAnimation 3s infinite;
}
.persons-global-container .navigation-links-characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .persons-global-container .navigation-links-characters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}