@-webkit-keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.test-abso {
  position: absolute;
  left: 50px;
}

.character-info-container img {
  width: 220px;
  height: 270px;
  border-radius: 10rem;
}

.character-info-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.character-info h3 {
  text-align: center;
  -webkit-animation: titleAnimation 3s infinite;
          animation: titleAnimation 3s infinite;
}
.character-info p {
  color: rgb(217, 217, 73);
}
.character-info span {
  padding: 15px;
  color: aqua;
}