@-webkit-keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: solid(1.1);
            transform: solid(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.global-homeworld-section h2 {
  text-align: center;
  -webkit-animation: titleAnimation 4s infinite;
          animation: titleAnimation 4s infinite;
}
.global-homeworld-section img {
  width: 200px;
}

.world-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.world-container p {
  color: aqua;
}
.world-container span {
  color: rgb(217, 217, 73);
  padding: 15px;
}