@import "../../stylesVariables/variables.scss";

.global-header-container {
  display: $display;
  padding: $fifthenPix;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  align-items: $center;
  background-image: url("/public/header.jpg");
  box-shadow: 0px 1px 1px white;
  position: fixed;
  z-index: 1000;
  top: 0;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: start;
  }
  .logo-name {
    color: $yellowColor;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3rem;
    cursor: $cursor;
    text-decoration: none;
  }
}

.nav-header-link {
  color: $yellowColor;
  text-decoration: none;
  font-size: $fontSize;
}
