@-webkit-keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes titleAnimation {
  0% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: aquamarine;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.test-abso {
  position: absolute;
  left: 50px;
}

.global-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.global-header-container .logo-name {
  text-align: center;
  color: rgb(217, 217, 73);
  font-size: 35px;
  cursor: pointer;
  text-decoration: none;
}

.nav-header-link {
  color: rgb(217, 217, 73);
  text-decoration: none;
  font-size: 20px;
}