

body {
  font-family: 'Space Grotesk', sans-serif;
  background-image: url("/public/bgimg3.jpeg");
  margin: 0;
  padding: 0;
}

.loading{
  color: yellow;
 font-size: 70px;
 position: absolute;
 top: 350px;
 right: 740px;
 
}